---
import '/src/styles/theme.css';
import '@fontsource/inter';
import '@fontsource/jetbrains-mono';

interface Props {
	title?: string;
  description?: string;
}

const { 
  title = "Nomudev | Senior Backend & Cloud Architect",
  description = "Portfolio of a Senior Fullstack Engineer specialized in Scalable Cloud Solutions, Microservices, and DDD."
} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-primary text-text-main antialiased selection:bg-accent-blue selection:text-black">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
